[defaults]
inventory          = inventory/
collections_path   = /home/user/.ansible/collections
remote_user        = svc-ansible-user
host_key_checking  = false
gathering          = smart
fact_caching       = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout    = 3600
become_timeout     = 30

[privilege_escalation]
become        = false
become_method = sudo
become_flags  = -n

[ssh_connection]
pipelining = true
